.event-card__card {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  cursor: pointer;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.event-card__card-options {
  height: 300px;
  width: 200px;
  position: relative;
}
.event-card__card-image {
  border-radius: 16px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  position: absolute;
}
.event-card__card-image-container {
  height: 300px;
  width: 200px;
  position: absolute;
}
.event-card__card-image-container::after {
  content: "";
  border-radius: 16px;
  height: 300px;
  width: 200px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0.8;
  background: url("../../assets/Vectors/filter.png");
  background-size: 100% 100%;
  display: inline;
}
.event-card__card-image-container:hover::after {
  opacity: 0;
}
.event-card__card-date {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #ffffff;
  overflow-wrap: break-word;
  position: relative;
  top: 170px;
  padding: 0px 15px;
}
.event-card__card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #ffffff;
  position: relative;
  top: 170px;
  padding: 0px 15px;
}
.event-card__card-viewers {
  position: absolute;
  bottom: 10px;
  padding: 0px 15px;
  margin-top: 15px;
  height: 7%;
}
.event-card__card-not-found {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #3d3d3d;
}
