/* Footer */

.footer__title {
  display: flex;
  flex-direction: row;
  color: rgba(51, 102, 255, 1);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.footer__title-detail {
  color: rgba(255, 61, 113, 1);
}
.footer__logo {
  height: 30px;
  width: auto;
}
.footer__title--2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #373a42;
}
.footer__content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  color: #c1c5d0;
}
